:root {
  --clr-primary-300: hsl(172, 61%, 76%);
  --clr-primary-400: hsl(172, 31%, 52%);
  --clr-primary-500: hsl(172, 67%, 45%);
  
  --clr-secondary-400: hsl(9, 61%, 62%);
  
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(189, 41%, 97%);
  --clr-neutral-300: hsl(185, 41%, 84%);
  --clr-neutral-500: hsl(184, 14%, 56%);
  --clr-neutral-600: hsl(186, 14%, 43%);
  --clr-neutral-800: hsl(183, 100%, 15%);
  
  --clr-primary-500-alpha: hsla(172, 67%, 45%, 30%);  
  --clr-neutral-800-alpha: hsla(183, 100%, 15%, 30%);
  
  --clr-shadow: hsla(172, 67%, 45%, 15%);
  
  --ff-base: 'Space Mono', monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--ff-base);
  color: var(--clr-neutral-600);
  background-color: var(--clr-neutral-300);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

.hidden {
  display: none !important;
}

.error-text {
  grid-area: cell-2;
  text-align: right;
  color: var(--clr-secondary-400);
}

.error-input:focus {
  outline-color: var(--clr-secondary-400) !important; 
}

::placeholder {
  color: var(--clr-neutral-600);
  opacity: 0.5;
}

input::-webkit-outer-spin-button, 
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
  width: 100%;
  padding: 0.3rem 1rem;
  background-color: var(--clr-neutral-200);
  border: none;
  border-radius: 0.3rem;
  font-family: inherit;
  font-size: 1.5rem;
  text-align: right;
  color: var(--clr-neutral-800);
}

input[type=number]:focus {
  outline: 0.125rem solid var(--clr-primary-400);
}

.active, 
input[type=radio]:checked + label {
  background-color: var(--clr-primary-500) !important;
  color: var(--clr-neutral-800) !important;  
}

button:focus-visible, 
button:hover, 
input[type=radio]:focus-visible + label, 
input[type=radio]:hover + label {
  background-color: var(--clr-primary-300) !important;
  color: var(--clr-neutral-800) !important;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  margin-top: 2.5rem;
  padding: 1.5rem;
  background-color: var(--clr-neutral-100);
  border-radius: 1.5rem 1.5rem 0 0;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0.5rem;
}

.bill label, 
.people label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.bill-input {
  --icon: url("images/icon-dollar.svg");
}

.people-input {
  --icon: url("images/icon-person.svg"); 
  grid-area: cell-3;  
}

.bill-input, 
.people-input {
  background-image: var(--icon);
  background-repeat: no-repeat;
  background-position: left 1rem center;
}

.tip {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  border: none;
}

.tip legend {
  margin-bottom: 1rem;
}

.tip-label {
  padding: 0.5rem 0.875rem;
  background-color: var(--clr-neutral-800);
  border-radius: 0.3rem;
  font-size: 1.5rem;
  text-align: center;
  color: var(--clr-neutral-100);
  cursor: pointer;
}

.tip-custom-label {
  background-color: var(--clr-neutral-200);
  text-align: right;
  color: var(--clr-neutral-600);
}

.people {
  display: grid;
  grid-template-areas: 
  "cell-1 cell-2"
  "cell-3 cell-3";
  gap: 0 0.5rem;
}

.people label {
  grid-area: cell-1;
}

.output-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2.5rem 1.5rem 1.5rem;
  background-color: var(--clr-neutral-800);
  border-radius: 1rem;
}

.output-section h2 {
  font-size: 1rem;
  color: var(--clr-neutral-100);
}

.output-section h2::after {
  content: "/ person";
  display: block;
  font-size: 0.85rem;
  opacity: 0.5;
}

.output {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1.5rem;
}

.tip-output, 
.total-output {
  font-size: 2rem;
  text-align: right;
  color: var(--clr-primary-500);
}

.reset-button {
  width: 100%;
  margin-top: auto;
  padding: 0.6rem;
  background-color: var(--clr-primary-500-alpha);
  border-radius: 0.3rem;
  font-family: inherit;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: var(--clr-neutral-800-alpha);
  cursor: pointer;
  border: none;
  outline: none;
}

@media only screen and (min-width: 50em) {
  main {
    justify-content: center;
    min-height: 100vh;
    padding: 3rem 0;
  }
  
  .card {
    flex-direction: row;
    gap: 2rem;
    max-width: 57.5rem;
    margin-top: 5rem;
    padding: 2rem;
    border-radius: 1.5rem;
    box-shadow: 0 2rem 2rem var(--clr-shadow);
  }
  
  .form {
    flex: 1.125;
    gap: 2.5rem;
    padding: 1rem;
  }
  
  .tip {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem 0.875rem;
  }
  
  .output-section {
    flex: 1;
    padding: 2.5rem;
  }
  
  .tip-output, 
  .total-output {
    font-size: 3rem;
  }
}